/*+=======================+
SECCION CARTA DE PRECIOS
+=======================+*/
section.cartaprecios {
  background-color: #fcfcfc;
  display: flex;
  width: 100%;
  margin-top: 100px;

  .childprecios {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding: 80px 80px;

    .imageningredientes {
      width: 45%;
    }

    .listadoprecios {
      width: 55%;
      padding: 0px 50px;

      .titulcarta {
        font-size: 48px;
        .hastagprecio {
          color: #f16115;
        }
      }

      .cuadrodeprecios {
        .celdaprecio {
          display: block;
          margin-top: 25px;

          .preciodetalle {
            display: flex;
            /*background-color: aquamarine;*/
            align-items: center;
            justify-content: space-between;

            p.nombreproducto,
            p.valorproducto {
              font-size: 20px;
              font-family: "Bebas Neue", sans-serif;
              text-transform: uppercase;
            }

            hr.lineaprecio {
              height: 2px;
              background-color: black;
              width: 78%;
            }

            p.valorproducto {
              color: #ec3d08;
            }
          }

          .ingredientestabla {
            margin-top: 10px;

            p.descriptionprecios {
              font-size: 16px;
              color: #848383;
            }
          }
        }
      }
    }
  }
}

/*.cuadrodeprecios {
  }*/

/*+=======================+
  FIN SECCION CARTA DE PRECIOS
  +=======================+*/
