/*+=======================+
PAGINA SOMOS
+=======================+*/


.contentcomunidad {
  P.textComunidadDestacdo {
    color: #f16115;
    font-family: Bebas Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
  }
}

.banner bannerpequeno {
  img.imagenBanergeneral {
    width: 100%;
  }
}

/*+=======================+
INICIO PAGINA SOMOS
+=======================+*/
