/*+=======================+
SECCION ESTILOS DE AYUDA
+=======================+*/
.bggeneral {
  background-color: #ffb936;
}
.productos.bggeneral {
  background-color: #ffb936;
}
.textComunidad.textonegro {
  color: #000;
}

/*secciones generales*/

/*section.portada.ajustepórtada {
    height: 300px;
  }*/

/*div.contentwrapp.ajustewrapp {
    height: 300px;
  }*/

div.contentportada.ajustegeneral {
  width: 100%;
  text-align: center;
}

h2.subtutulo.ajustesubtitulo {
  font-size: 48px;
}

/*+=======================+
FIN SECCION ESTILOS DE AYUDA
+=======================+*/
