/*+=======================+
SECCION HEADER
+=======================+*/

header {
  background-color: #ffb936;
  padding: 5px;
  width: 100%;
  height: 100px;

  /*Estilos menu principoal Desktop*/
  .contenmenu {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 30px 80px;
    align-items: center;

    /*contenedor logo*/
    .childlogotop {
      /*Estilo logo top header*/
      .logotop {
        width: 60%;
      }
      /*Fin estilo logo top header*/
    }

    /*contenedor menu principal*/
    .childmenuheader {
      /*menu main*/
      .navmain {
        display: flex;
        justify-content: flex-end;

        ul.childmenu {
          list-style: none;
          display: flex;
          font-family: "Bebas Neue";
          font-size: 18px;
          align-items: center;
          margin: 0px;

          li.item {
            padding: 5px;
            letter-spacing: 1px;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
      /*fin contenedor menu principal*/

      /*Estilo movil menu*/
      .movilcustom {
        display: none;
      }
      /*Fin Estilo movil menu*/
    }
    /*FIN Estilo movil menu*/

    /*Estilos zona rrss top*/
    .contenrss {
      display: flex;
      align-items: center;
      padding: 2px;
      justify-content: flex-end;

      .childrss {
        margin-left: 10px;

        .iconorss {
          width: 22px;
        }
      }
    }
    /*Fin Estilos zona rrss top*/
  }
  /* Fin estilos menu principoal Desktop*/
}

/*+=======================+
  FIN SECCION HEADER
  +=======================+*/
