
/*+=======================+
VARIABLES GLOBALES
+=======================+*/
/*Amarillo fondo general*/
$coloamarillo: #ffb936;
/*naranjo fondo general Boton*/
$colorfondoboton:#ec3d08;
/*naranjo texto destacado*/
$hastagpreciotext:#f16115;
/*naranjo valor carta*/
$hastagpreciotext:#f16115;


