/*+=======================+
SECCION GALERIA GRID 
+=======================+*/
.galeria {
  width: 100%;
  padding: 10px;

  .grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);

    .itemimg {
      .img-galeria {
        width: 100%;
      }
    }
  }
}

/*+=======================+
  FIN SECCION GALERIA GRID 
  +=======================+*/
